
# Importing Necessary Library
# pip install -r requirements.txt

    numpy
    pandas
    matplotlib
    seaborn
    scipy
    scikit-learn
    statsmodels
    jupyterLab
    plotly
    pytest-warnings
    scikit-learn



